.title {
  font-size: 32px !important;
  font-weight: 'bold';
}
.paragraph {
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 15px;
  color: '#444';
}
.line-divider {
  width: 2px;
  height: 21px;
  position: absolute;
  left: 33px;
  top: 34px;
  z-index: 2;
  background: #eee;
}
